*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova-Extrabld.ttf);
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url(../fonts/ProximaNova-Black.ttf);
}

body{
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Proxima Nova;
    font-size: 16px;
    display: block;
}

a{
    text-decoration: none;
    color: #333333;
}

.contact_header{
    color: #0E94D1;   
    display: flex;
    padding: 8px 0 6px 0px;

}

.container{
    width: 1200px;
    height: inherit;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_networks{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.social_networks img{
    margin: 0px auto;
}

.contact_phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.phone_button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #0E94D1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_phone span{
    font-family: Proxima Nova Bold;
    font-weight: bold;
    font-size: 25px;
    margin: 0 30px 0 11px;
    color: #0E94D1;
}

.menu_header{
    padding: 31px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0E94D1;
    color: white;
    font-family: Proxima Nova Bold;
}

.menu_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 435px;
    font-size: 18px;
}

.menu_buttons a {
    color: white;
    text-decoration: none;

}

.menu_buttons a:hover {
    color: #ACDBF4;
}

.menu_buttons_mobile a:hover{
    background: #F3921F;
    color: white;
}

.menu_button{
    display: none;
}

.booking_button{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #333333;
}

.our_clinics{
    background: #f7f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_column{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper_clinics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 35px;

}

.lower_clinics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px 0;

}

.first_clinic{
    width: calc((100% - 30px) / 2);
    height: 704px;
    box-shadow: 0 0 10px #dcdddf; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.second_clinic{
    width: calc((100% - 30px) / 2);
    height: 704px;
    box-shadow: 0 0 10px #dcdddf; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.clinic_contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 120px;
    font-size: 14px;
    background: #F7F9FA;
    border-radius: 12px 12px 0 0 ;
}

.clinic_logo{
    background: #FFFFFF;
    border: 2px solid #1092D0;
    border-radius: 40px;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38px;
}

.clinic_header_info_2{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
}

.clinic_header_info_3{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
}

.clinic_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 22px;
    height: 100%;
}

.clinic_city{
    text-transform: uppercase;
    font-family: 'Proxima Nova Black';
    color: #0191CE;
    font-size: 33px;
    
}

.clinic_phone{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 63px;
}

.clinic_address{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 1px;
}

.clinic_address a{
    margin-left: 10px;
    text-decoration: underline;
    color: #0191CE; 
}

.clinic_address a:hover{
    text-decoration: none;
}

.working_hours_clinic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 1px;
}

.working_hours_clinic span{
    margin-left: 11px;
}

.clinic_phone_button{
    height: 48px;
    width: 48px;
    background: #DBEBF3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.phone_number{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 18px;
    height: 100%;
}

.phone_number a{
margin: 2px 0;
}

.photo_slider_1{
    background-image: url(../img/MaskGroup.png);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.photo_slider_2{
    background-image: url(../img/MaskGroup_2.png);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.photo_slider_3{
    background-image: url(../img/MaskGroup_2.png);
    width: 570px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.slider_button_left {
    width: 50px;
    height: 50px;
    background: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 35px;
}

.slider_button_left:hover {
    background: #0E94D1;
}

.slider_button_right {
    width: 50px;
    height: 50px;
    background: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 35px;
}

.slider_button_right:hover {
    background: #0E94D1;
    color: white;
}

.slider_button_right img {
    transform: rotate(180deg);
}

.clinic_service_div{
    width: 100%;
}

.clinic_service{
    width: 93.333%;
    height: 249px;
    overflow: hidden;
    margin-left: 38px;
}

.clinic_service a {
    color: #0191CE;
    text-decoration: underline;
}

.clinic_service a:hover {
    text-decoration: none;
}

.clinic_service h1{
    font-size: 20px;
    text-transform: uppercase;
    color: #425159;
    margin-top: 27px;
}

.clinic_service ul{
    font-size: 15px;
    /* text-transform: uppercase; */
    margin-top: 15px;
    line-height: 1.4;
}

.clinic_service li:before{
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    vertical-align: middle;
    border-radius:50%;
    background-color:#C4F0FB;
    margin-right: 25px;
}

.clinic_service li{
    color: #C4F0FB;
    text-transform: none;
    list-style: none;
    /* list-style-position: inside; */
    /* width: 8px;
    height: 8px; */
}

.clinic_service li span{
    color: #333333;
}

.clinic_buttons{
    width: 100%;
    height: 85px;
    background: #F7F9FA;
    box-shadow: 0px -35px 30px -10px #ecf5f9e6;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_button{
    width: 240px;
    height: 50px;
    border-radius: 30px;
    background: #0191CE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Proxima Nova Bold';
    margin-left: 35px;
}

.site_button:hover{
    background: #25a1d6;
}

.record_button{
    width: 240px;
    height: 50px;
    border-radius: 30px;
    background: #F3921F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Proxima Nova Bold';
    margin-right: 35px;
}

.record_button:hover{
    background: #f7a644;
}

.next_clinic{
    width: calc((100% - 30px) / 2);
    height: 704px;
    box-shadow: 0 0 10px #dcdddf; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}    


.next_clinic img{
    margin-top: 202px;
}

.next_clinic span{
    font-family: 'Proxima Nova Bold';
    color: #0191CE;
    font-size: 24px;
    margin-top: 43px;
    text-align: center;
}

.about{
    background: #0191CE;
    position: relative;
}

.about::before{
    content: '';
    width: 50%;
    height: 75px;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}

.about::after{
    content: '';
    width: 50%;
    height: 30px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.about .container{
    background-color: #0191CE;
    padding: 30px 0;
    position: relative;
    z-index: 1;
    max-width: 1170px;
}

.about_wrap{
    height: 100%;
    width: 1545px;
    background: #0191CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.about_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 520px - 60px);
    /* height: 100%; */
    color: white;
}

.about_text h1{
    font-family: 'Proxima Nova Black';
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 4px;   
}

.about_text p{
    margin-top: 18px;
    line-height: 1.2;
}

.about_mobile_arrow_img{
    display: none;
}

.about_slider{
    background: white;
    width: 520px;
    height: 380px;
    z-index: 0;
    display: flex;
    border: 45px solid #fff;
    border-radius: 200px 0 0 200px;
}

.about_slider > img {
    /* z-index: -100; */
    position: absolute;
    right: 0px;
    border-radius: 200px 0 0 200px;
    overflow: hidden;

    /* z-index: -10; */
}

.about_union_rectangle{
    width: 211px;
    height: 45px;
    position: absolute;
    z-index: 5;
    right: 0px;
    top: 0px;
    background: #0191CE;
}

.about_arrow{
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 10;
    right: 144px;
    top: 0px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about_right{
    height: 445px;
    width: 375px;
    /* background: blue; */
}

.about_tablet_lower{
    display: none;
}

.about_right_rectangle{
    background: #0191CE;
    height: 335px;
    width: 375px;
    margin-top: 75px;
    position: relative;
    z-index: 2;
}

.advantages{
    /* width: 100%; */
    /* height: 646px; */
    /* padding: 0px 375px; */
    /* background: pink; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.advantages .container_column{
    justify-content: flex-start;
    align-items: flex-start;
    padding: 35px 15px;

}

.advantages h1{
    text-transform: uppercase;
    font-family: 'Proxima Nova Black';
    font-size: 30px;
    color: #0191CE;
    /* margin-top: 35px; */
    
}

.upper_advantages{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 34px;

}

.lower_advantages{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 44px;

}

.advantage{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    /* margin-bottom: 28px; */
    text-align: center;
}

.advantage h1{
    text-transform: uppercase;
    color: #333333;
    font-family: 'Proxima Nova Bold';
    font-size: 18px;
    margin-top: 23px;
}

.advantage span{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}

footer{
    background: #0E94D1;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    padding: 35px 0;
}

footer .container{
    height: 452px;
    /* flex-direction: column; */
}


.footer_col{
    line-height: 1.3;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 24%;
    color: white;
    padding-right: 10px ;
    /* margin-top: 35px; */
    height: 100%;
    min-height: 200px;
}

.csf{
    margin-bottom: 20px;
}

.footer_col:nth-last-child(1){
    padding-right: 0px ;
}

.footer_upper_col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.footer_upper_col span{
    margin-top: 20px;
    line-height: 18px;
}

.links {
    list-style: none;
    width: 100%;
    min-height: 233px;
    margin-bottom: 20px;
}

.links li{
    line-height: 16px;
    font-size: 16px;
    margin: 8px 0;
    width: 100%;
    color: white;

}

.links a{
    color: white;
}

.links a:hover{
    text-decoration: underline;
    color: #C4F0FB;
}

.footer_upper_col .title {
    display: block;
    font-family: 'Proxima Nova Bold';
    font-size: 17px;
    color: #FFFFFF;
    line-height: 22px;
    text-transform: uppercase;
    margin: 8px 0 10px 0;
}

.footer_upper_col .title:hover {
    color: #C4F0FB;
}



.footer_lower_col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    color: #C4F0FB;
    font-size: 18px;
}

.footer_lower_col > a{
    position: absolute;
    bottom: 30px;
    left: 5px;
}

.footer_lower_col span{
    display: block;
}

.footer_lower_col > div{
    margin-bottom: 17px;
}

.phone > a{
    color: #C4F0FB;
    display: block;

}

.email{
    /* color: white; */
    text-decoration: underline;
    margin-top: 17px;
}

.email:hover{
    text-decoration: none;
}

.phone > a:hover{
    color: white;
}



@media (max-width: 1200px) {
    .container{
        max-width: 100%;
    }

    .menu_buttons {
        width: 264px;
        font-size: 16px;
    }

    .booking_button {
        width: 170px;
    }

    .our_clinics{
        /* height: 1737px; */
    }

    .first_clinic{
        height: 801px;
    }

    .second_clinic{
        height: 801px;
    }

    .next_clinic {
        height: 801px;
    }

    .next_clinic span{
        width: 75%;
    }

    .clinic_contact{
        height: 155px;
        align-items: flex-start;
    }

    .clinic_logo{
        margin-top: 15px;
    }

    .clinic_header_info_2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 22px;
        margin-top: 19px;
    }

    .clinic_header_info_3{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 22px;
        margin-top: 7px;
    }

    .clinic_header{
        margin-left: 0px;
        justify-content: flex-start;
    }

    .clinic_address {
        margin-top: 2px;
    
    }
    
    .working_hours_clinic{
        margin-top: 2px;
    }

    .clinic_phone{
        margin-left: 0px;
    }

    .clinic_phone_button{
        display: none;
    }

    .phone_number{
        justify-content: flex-start;
        margin-top: 6px;
        margin-left: 0px;
    }

    .phone_number span{
        line-height: 1.3;
    }

    .clinic_service {
        width: 89.444%;
    }

    .clinic_service h1{
        font-size: 20px;
    }

    .clinic_service li{
        /* padding-left: 20px; */
        font-size: 15px;
    }

    .photo_slider_1{
        background-image: url(../img/MaskGroup_slider_1.png);
    }
    
    .photo_slider_2{
        background-image: url(../img/MaskGroup_slider_2.png);
    }

    .slider_button_left, .slider_button_right{
        margin: 0 8px;
    }
    
    .clinic_buttons {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .site_button{
        margin-left: 0px;
    }

    .record_button{
        margin-right: 0px;
    }

    .about {
        /* height: 815px; */
        /* padding-left: 0;
        padding-right: 0;
        margin-left: 576px;
        margin-right: 576px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /* position: relative; */
        /* width: 100%; */
        
    }

    .about::before{
        width: calc(50% - 260px);
        height: 45px;
        top: inherit;
        bottom: 365px;
        z-index: 2;
    }
    
    .about::after{
        width: calc(50% - 260px);
        z-index: 2;
    }
    

    .about .container{
        background-color: #0191CE;
        padding: 30px 15px;
        max-width: 100%;
        /* position: relative; */
        /* z-index: 1;
        max-width: 1170px; */
    }

    .about_wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }

    .about_text {
        /* height: 323px; */
        width: 100%;
        margin-bottom: 40px;
    }

    .about_text h1{
        margin-top: 34px;
        margin-bottom: 8px;
    }

    .about_text p{
        font-size: 16px;
        margin-top: 16px;
    }

    .about_mobile_arrow_img{
        display: none;
    }

    .about_slider{
        position: relative;
        margin: 0px auto;
    }

    .about_slider > img{
        right: -45px;
    }

    .about_union_rectangle{
        top: -45px;
        right: -45px;
        z-index: 5;
    }

    .about_arrow{
        top: -45px;
        right: 99px;
    }

    .about_right{
        display: none;
    }

    .about_tablet_lower{
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        width: 768px;
        height: 100%;
        background: #0191CE;
        padding-top: 56px;
        border: none;
    }

    .about_tablet_img{
        background-image: url(../img/Union.svg);
        width: 576px;
        height: 380px;
        position: relative;
        /* right: 100px; */
        /* top: 0px; */
        /* margin-left: 273px; */
        z-index: 1;
        margin-left: 79px;
    }
    
    
    .about_tablet_right{
        height: 421px;
        width: 113px;
        background: white;
        position: relative;
    }
    
    .about_right_rectangle{
        height: 335px;
        width: 113px;
        position: absolute;
        margin-top: 45px;
        
        background: #0191CE;

    }
   
    .advantages{
        /* display: none; */
        /* height: 716px;
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 576px;
        margin-right: 576px; */
    }

    .advantages .container_column{
        width: 100%;
        margin: 0;
        padding: 35px 15px;
    }

    .advantages h1{
        /* margin-left: 16px; */
        margin-top: 0;
    }
    
    .upper_advantages{
        width: 100%;
        margin-top: 32px;
    }
    .lower_advantages{
        width: 100%;
        margin-top: 23px;
    }

    .advantage{
        margin-left: 16px;
        width: 233px;
    }

    .advantage h1{
        margin-left: 0px;
        margin-top: 23px;
    }

    footer{
        /* display: none; */
        /* height: 550px;
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 576px;
        margin-right: 576px;     */
    }

    footer .container{
        flex-wrap: wrap;
        height: auto;
    }

    .footer_col{
        width: 33.3%;
    }

    .footer_col:nth-child(1){
        order: 4;
        width: calc(100% + 30px);
        box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.07);
        padding: 30px 15px;
        flex-direction: row;
        align-items: center;
        margin: 55px -15px -35px -15px;
        /* position: relative; */
        /* flex-direction: row; */
    }

    .footer_col:nth-child(1) .footer_upper_col{
        /* justify-content: center; */
        align-items: center;
        flex-direction: row;
    }

    .footer_upper_col img{
        margin: 0;
    }

    .footer_upper_col span{
        margin: 0 50px;
        width: 220px;
    }

    .footer_lower_col > a {
        position: static;
        /* top: 100px;
        right: 200px; */
    }

    .csf{
        margin: 0 10px;
    }
  
    .upper_links{
        justify-content: space-around;
        width: 768px;
    }

    .lower_links{
        justify-content: space-around;
        width: 768px;
    }

    .med_links{
        width: 233px;
        margin-left: 0px;
    }

    .working_hours_med{
        width: 233px;
        margin-left: 0px;
    }

    .footer_tablet{
        height: 115px;
        width: 768px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 576px;
        margin-right: 576px;
        display: none;
        justify-content: space-between;
        align-items: center;
        background: #0E94D1;
        box-shadow: 0px -5px 15px 0px #5e5d5d99;

    }

    .footer_tablet_logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 15px;
    }

    .footer_tablet_logo span{
        width: 244px;
        margin-left: 33px;
        font-size: 14px;
        line-height: 1.3;
        color: white;
    }

    .csf_tablet{
        margin-right: 23px;
    }
}

@media (max-width: 767px) {
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        /* width: 320px; */
    }

    .header{
        /* width: 320px; */
        /* height: 44px; */
    }

    .contact_header{
        /* width: 100%; */
        /* height: 44px; */
        /* padding: 0px; */
    }

    .social_networks{
        /* margin-left: 16px; */
    }

    .contact_phone span{
        margin-right: 0px;
    }

    .menu_header .container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .menu_buttons{
        display: none;
    }

    .menu_buttons_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    }

    .menu_button{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our_clinics{
        /* display: none; */
        /* width: 320px; */
        /* height: 2481px; */
    }

    .upper_clinics{
        flex-direction: column;
        margin-top: 22px;
    }

    .lower_clinics{
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 27px;

    }

    .first_clinic{
        width: calc(100% - 30px);
        
    }

    .second_clinic {
        width: calc(100% - 30px);
        margin: 16px 0px;

    }

    .next_clinic{
        display: none;
    }

    .clinic_contact{
        height: 155px;
    }

    .clinic_logo{
        margin-left: 22px;
    }

    .clinic_header_info_2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 17px;
        margin-top: 19px;
    }

    .clinic_header_info_3{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 17px;
        margin-top: 7px;
    }

    .clinic_header{
        margin-left: 0px;
        justify-content: flex-start;
    }

    .clinic_address {
        margin-top: 2px;
    
    }
    
    .working_hours_clinic{
        margin-top: 2px;
    }

    .clinic_phone{
        margin-left: 0px;
    }

    .clinic_phone_button{
        display: none;
    }

    .phone_number{
        justify-content: flex-start;
        margin-top: 6px;
        margin-left: 0px;
    }

    .phone_number span{
        line-height: 1.3;
    }

    .slider_button_left{
        margin-left: 8px;
    }

    .photo_slider_1{
        background-image: url(../img/slider_photo_mobile.png);
    }

    .photo_slider_2{
        background-image: url(../img/slider_photo_mobile_2.png);
    }

    .slider_button_right{
        margin-right: 8px;
    }

    .clinic_buttons {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .site_button{
        margin-left: 0px;
    }

    .record_button{
        margin-right: 0px;
    }

    .about{
        /* display: none; */
        /* width: 100%; */
        /* height: 1094px; */
    }

    .about::before{
        /* top: -45px; */
        /* z-index: 100; */
        bottom: 410px;
        left: 0;
        width: calc(100% - 45px - 17px);
    }

    .about::after{
        display: none;
    }

    .about .container{
        width: 100%;
        padding: 30px 0;
    }

    .about_wrap{
        /* padding: 0 15px; */
        /* width: 100%; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .about_text{
        padding: 0px 15px;
        /* height: 713px; */
        width: 100%;
    }

    .about_text h1{
        margin-top: 34px;
    }

    .about_text p{
        margin-top: 20px;
    }

    .about_slider{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        background: none;
        margin-top: 45px;
        width: 100%;
        border: none;
        position: relative;
    }

    .about_slider > img{
        position: static;
        width: 100%;
        border-radius: 0;
    }

    .about_arrow{
        right: 0;
    }

    .about_mobile_arrow_img{
        display: none;
    }

    .about_mobile_arrow{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about_union_rectangle{
        display: none;
        /* position: static;
        width: 258px; */
    }

    .about_arrow{
        /* position: static; */
    }

    .about_right{
        display: none;
    }

    .about_img{
        display: none;
    }

    .advantages{
        /* display: none; */
        /* width: 320px; */
        /* height: 1837px; */
        padding: 0px;
        justify-content: space-around;
    }

    .advantages h1{
        /* margin: 33px 0px 0px 15px; */
    }

    .upper_advantages {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* margin: 0px 15px; */
        /* height: 887px; */
    }

    .lower_advantages{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* margin: 0px 15px; */
        /* height: 887px; */
    }

    .advantage{
        width: 100%;
        padding: 0 10px;
        margin: 8px 0 26px 0;
    }

    .advantage h1{
        margin-top: 23px;
    }

    footer{
        /* display: none; */
        /* width: 320px;
        height: 725px; */
        padding: 0px;
    }

    footer .container{
        flex-direction: column;
    }

    .footer_col{
        width: 100%;
        justify-content: flex-start;
    }

    .footer_col ul{
        display: none;
    }

    .footer_col:nth-child(1) {
        padding: 30px 15px;
        margin: 0px -15px 0px -15px;
        align-items: flex-end;
        justify-content: space-between;

    }

    .footer_col:nth-child(1) .footer_upper_col {
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }

    .footer_upper_col span {
        margin: 20px 0 0 0;
    }

    .csf{
        margin-bottom: 15px;
    }

    .upper_links{
        display: none;
    }

    .lower_links{
        flex-direction: column;
        justify-content: space-around;
        height: 725px;
        width: 320px;
        margin-top: 0px;
        padding-left: 16px;
    }

    .med_1 {
        margin: 0px;
    }

    .med_2 {
        margin: 0px;
    }

    .med_3 {
        margin: 0px;
    }

    .med_links_mobile {
        display: block;
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Proxima Nova Bold';
        color: white;
        margin-bottom: 12px;
    }

    .footer_mobile{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 175px;
        width: 320px;
        background: #0E94D1;
        box-shadow: 0px -5px 15px 0px #5e5d5d99;
    }

    .footer_tablet_logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .footer_tablet_logo span{
        width: 237px;
        color: white;
        font-size: 14px;
    }





}

